# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS specific files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Coverage directory
coverage/

# Build/dist directories
dist/
build/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Credentials - IMPORTANT: never commit these files
*-*.json
*.pem
*credentials*.json
camera-calibration-beta-51a46d9d1055.json
